
<!-- this is our top navigation component we used a bootstrap responsive navbar -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark topnav">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active"><a class="nav-link topnav__links"  routerLink=''>Home <span class="sr-only">(current)</span></a></li>
        <li class="nav-item"><a class="nav-link  topnav__links " routerLink="/arts">Arts</a></li>
        <li class="nav-item"><a class="nav-link  topnav__links" routerLink="/automobiles">Automobile</a></li>
        <li class="nav-item"><a class="nav-link  topnav__links" routerLink="/books">Books</a></li>
        <li class="nav-item"><a class="nav-link  topnav__links" routerLink="/business">Business</a></li>
        <li class="nav-item"><a class="nav-link  topnav__links" routerLink="/fashion">Fashion</a></li>
        <li class="nav-item"><a class="nav-link  topnav__links" routerLink="/food">Food</a></li>
        <li class="nav-item"><a class="nav-link  topnav__links" routerLink="/health">Health</a></li>
        <li class="nav-item"><a class="nav-link  topnav__links" routerLink="/insider">Insider</a></li>
        <li class="nav-item"><a class="nav-link  topnav__links" routerLink="/magazine">Magazine</a></li>
        <li class="nav-item"><a class="nav-link  topnav__links" routerLink="/movie">Movie</a></li>
        <li class="nav-item"><a class="nav-link  topnav__links" routerLink="/nyregion">NY Region</a></li>
        <li class="nav-item"><a class="nav-link  topnav__links" routerLink="/obituaries">Obituaries</a></li>
        <li class="nav-item"><a class="nav-link  topnav__links" routerLink="/opinions">Opinions</a></li>
        <li class="nav-item"><a class="nav-link  topnav__links" routerLink="/politics">Politics</a></li>
        <li class="nav-item"><a class="nav-link  topnav__links" routerLink="/realestate">Real estate</a></li>
        <li class="nav-item"><a class="nav-link  topnav__links" routerLink="/science">Science</a></li>
        <li class="nav-item"><a class="nav-link  topnav__links" routerLink="/sports">Sports</a></li>
        <li class="nav-item"><a class="nav-link  topnav__links" routerLink="/sundayreview">Sunday Reviews</a></li>
        <li class="nav-item"><a class="nav-link  topnav__links" routerLink="/technology">Technology</a></li>
        <li class="nav-item"><a class="nav-link  topnav__links" routerLink="/theater">Theater</a></li>
        <li class="nav-item"><a class="nav-link  topnav__links" routerLink="/t-magazine">T Magazine</a></li>
        <li class="nav-item"><a class="nav-link  topnav__links" routerLink="/travel">Travel</a></li>
        <li class="nav-item"><a class="nav-link  topnav__links" routerLink="/upshot">Up shot</a></li>
        <li class="nav-item"><a class="nav-link  topnav__links" routerLink="/us">U.S</a></li>
        <li class="nav-item"><a class="nav-link  topnav__links" routerLink="/world">World</a></li>

      </ul>

    </div>
  </nav>
